---
---
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>harsha163</title>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/base_styles.css">
  </head>
  <body class="nav_bar_body">
    <div class="nav_bar">
      <a href="" id="profile_pic"><img src="{{site.baseurl}}/assets/img/nature_profile.jpg" alt="profile pic"></a>
      
      <a href="" > <div class="exp_button" >Experimental </div></a>
      <a href="" > <div class="proj_button" >Projects </div></a>
      <a href="" > <div class="home_button">Home </div></a>
    </div>
    {{ content}}
  </body>
</html>
